.main__Component{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    /* background: url("https://images.pexels.com/photos/1054397/pexels-photo-1054397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat:no-repeat ;
    background-position: center;
    background-size:100% ; */
    /* background-color: black; */
}
 video {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.dialog__Box{
    position: absolute;
    height: 23rem;
    width: 21rem;
    top: 11rem;
    left: 52rem;
    background-color: rgba(226, 226, 226, 0.865);
    border-radius: 10px;
    overflow:auto;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
  }
.fixed__ChatButton{
    position: absolute;
    top: 33rem;
    left: 73rem;
}
.heading__Logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0px;
    margin: 0px;
    color: white;
    padding-top: 0.4rem;
    padding-left: 0.5rem;
    padding-bottom: 0.3rem;
    background-color: rgba(0, 0, 0, 0.717);
}
.logo{
    font-size: 2rem;
}
.dialog_Option{
    display: inline-block;
    float: right;
    padding: 0px;
    margin: 0px;
    margin-right: .5rem;
    margin-top: 1rem;
    padding: 5px;
    background-color: #888;
    border-radius: 5px;
    cursor: pointer;
    width: 14rem;
    flex-wrap: wrap;
}
.dialog_Bot{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    margin-left: .5rem;
    border-radius: 5px;
    padding: 5px;
    margin-top: 1rem;
    margin-bottom:.8rem ;
    background-color: #888;
    cursor: pointer;
}
.fixed_Button{
    padding: 0px;
    margin: 0px;
    border: 0px solid black;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
}
.chat_Icon{
    font-size: 1.2rem;
    padding: 0px;
    margin: 0px;

}
.dialog_Question1{
    position: absolute;
    height: 23rem;
    width: 21rem;
    top: 11rem;
    left: 52rem;
    background-color: rgba(226, 226, 226, 0.865);
    border-radius: 10px;
    overflow:auto;

}
.main__Content{
    color: white;
    position: absolute;
    z-index: 1;
    top: 14rem;
    left: 2rem;
    padding: 10px;
    margin: 0px;
    width: 52rem;
    border: 0.1rem solid white;
}
.heading{
    margin: 0px;
    padding: 5Px;
    font-weight: 600;
    font-size: 3rem;
}
.hello_Tag{
    color: white;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
    position: absolute;
    top: 33rem;
    left: 58rem;
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    position: fixed;
}
.close{
    font-size: 0.4rem;
    background-color: white;
    position: absolute;
    top: 33rem;
    left: 57rem;
    padding: 2px;
    border-radius: 30px;
    cursor: pointer;
    position: fixed;
}