.main__Component{
    position: relative;
    top: 8rem;
    padding: 0px;
    margin: 0px;
    height: 30rem;
    width: 24rem;
    border-radius: 15px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    padding: 0px;
    margin: 0px;
    letter-spacing: 0.05rem;
}
.image{
    padding: 0px;
    margin: 0px;
    max-height: 15rem;
    max-width: 15rem;
}
.sub_heading3{
    padding: 0px;
    margin: 0px;
    color: gray;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .3rem;

}
.sub_heading1{
    padding: 0px;
    margin: 0px;
    color: gray;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .3rem;
}
.sub_heading2{
    padding: 0px;
    margin: 0px;
    color: gray;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .3rem;
}
.heading2{
    padding: 0px;
    margin: 0px;
    letter-spacing: 0.05rem;
    margin-bottom: .3rem;
}
.price{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    margin-bottom: .3rem;
}
.button{
    padding: 0px;
    margin: 0px;
    height: 2.6rem;
    width: 14rem;
    outline: none;
    border: 0.01rem solid black;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.749);
    cursor: pointer;
}
.button:active{
    background-color:rgba(0, 0, 0, 0.863);
}