.main__Component{
    background-color: black;
    color: white;
    height: 50rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 0.01rem solid rgba(255, 255, 255, 0.21) ;
}
.contact_card{
    height: 30rem;
    width: 45rem;
    border: 0.01rem solid white;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    justify-content: center;
    border-radius: 10px;
    margin-right: 6rem;
}
.label{
    color: #666;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
}
.input_field{
    color: #333;
    height: 3rem;
    width: 40rem;
    outline: none;
    border: 0.01rem solid white;
    border-radius: 6px;
    background-color: white;  
    padding-left: 0.5rem;  
}
.input_field_message{
    color: #333;
    height: 10rem;
    width: 40rem;
    outline: none;
    border: 0.01rem solid white;
    border-radius: 6px;
    background-color: white;
}
input::placeholder{
  text-align: start;
}
.button{
    margin-top: 0.7rem;
    height: 3rem;
    width: 12rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(23, 21, 21, 0.916);
}
.button:active{
    background-color: black;
}
textarea{
    font-size: 0.9rem;
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
}
.popup_message{
    padding: 0px;
    margin:0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.heading{
    color: white;
    margin-right: 10rem;
}
.icon{
    font-size: 2.5rem;
}
.logo{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.sub_heading{
    font-size: 0.9rem;
    width: 16rem;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
    padding-left: 1rem;
    margin-top: 0.5rem;
}
.footer_main_Component{
    height: 25rem;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer_heading{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo{
    font-size: 3rem;
}
.social_Media{
    display: flex;
    flex-direction: column;
}
.links{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .6rem;
}
.copyRights{
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin: .6rem;
    cursor: pointer;
}
.copyRights_Container{
    display: flex;
    flex-direction: column;
}