.main__Component{
    background-color: black;
    color: white;
    height: 100vh;
    overflow: auto;
    display: flex;
    gap: 2rem;
    padding-left: 2.5rem ;
    flex-wrap: wrap;
    padding-bottom: 9rem;

}
